name: autofix.ci # needed to securely identify the workflow

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  autofix:
    uses: zotero-plugin-dev/workflows/.github/workflows/autofix.yml@main
    with:
      command: pnpm run lint:fix
