name: CI

on:
  push:
    branches:
      - main
    tags:
      - v**
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main

      - name: Test
        run: pnpm test

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main

      - name: Build Packages
        run: pnpm build

      - name: Upload build result
        uses: actions/upload-artifact@v6
        with:
          name: build-result
          path: |
            **/dist/
            !**/node_modules

  docs:
    runs-on: ubuntu-latest
    needs:
      - build
    env:
      GITHUB_TOKEN: ${{ secrets.GitHub_TOKEN }}
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
        with:
          fetch-all: 0

      - name: Restore Build Result
        uses: actions/download-artifact@v7
        with:
          name: build-result

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build Documentation
        run: pnpm docs:build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/src/.vitepress/dist

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        id: deployment
        uses: actions/deploy-pages@v4
