name: Release

on:
  push:
    branches:
      - main
    tags:
      - v**
  pull_request:
    branches:
      - main

jobs:
  release:
    uses: zotero-plugin-dev/workflows/.github/workflows/release-npm.yml@main
    with:
      build: pnpm build
      cr: true
    permissions:
      contents: write
      id-token: write
